.searchbar {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__button {
    margin-left: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    font-size: large;
    color: rgb(25, 27, 27);
    background: lightblue;
    cursor: pointer;

    &:disabled {
      color: rgb(37, 41, 41);
      background: grey;
    }
  }
}